<style>
	label {
		display:  block;
	}
</style>
<table>
	<caption>Date</caption>
	<tbody>
		<tr>
			<td colspan="2">
				<label for="">Title</label>
				<input type="text" name="" value="" placeholder="Title">	
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<label for="">Ort</label>
				<input type="text" name="" value="" placeholder="Ort">	
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<label for="" style="display: inline-block;">Ganztägig</label>
				<input type="checkbox" name="" value=""></td>
		</tr>
		<tr>
			<td>
				<label for="">Start (Datum)</label>
				<input type="date" name="" value="" placeholder="">
			</td>
			<td>
				<label for="">Start (Zeit)</label>
				<input type="time" name="" value="" placeholder="">
			</td>
		</tr>
		<tr>
			<td>
				<label for="">Ende (Datum)</label>
				<input type="date" name="" value="" placeholder="">
			</td>
			<td>
				<label for="">Ende (Zeit)</label>
				<input type="time" name="" value="" placeholder="">
			</td>
		</tr>
		<tr colspan="2">
			<td>
				<button class="ui basic button">Kontakt Hinzufügen</button>
			</td>
		</tr>
		<tr colspan="2">
			<td>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</td>
		</tr>
	</tbody>
</table>