<input type="hidden" name="Contact-id" value="{{id}}"></input>

<div class="field">
	<div class="two fields">
		<div class="four wide field required">
			<label>Anrede</label>
			<select class="ui fluid dropdown" name="Contact-prefix" id="contact-prefix" style="min-width: 0; width: auto;">
				<option disabled selected value class="placeholder">Anrede</option>
				<option value="Herr">Herr</option>
				<option value="Frau">Frau</option>
			</select>
		</div>
		<div class="twelve wide field required">
			<label>Name</label>
			<div class="two fields">
				<div class="field">
					<input type="text" name="Contact-first_name" placeholder="Vorname" required minlength="2" value="{{first_name}}"/>
				</div>
				<div class="field">
					<input type="text" name="Contact-last_name" placeholder="Nachname" required minlength="2" value="{{last_name}}"/>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="field">
	<div class="two fields">
		<div class="eight wide field required">
			<label>Geburtstag</label>
			<input type="date" name="Contact-birth_date" placeholder="YYYY-MM-DD" value="{{birth_date}}"/>
		</div>

		<div class="eight wide field">
			<label>Skype Name</label>
			<input type="text" name="Contact-skype_name" placeholder="Skype Name" value="{{skype_name}}"/>
		</div>
	</div>
</div>

<div class="field">
	<label>Mail Adresse</label>
	<exl-container id='mail-list' template='mails' class="small"></exl-container>
</div>

<div class="field">
	<label>Telefonnummer</label>
	<exl-container id='phone-list' template='phones' class="small"></exl-container>
</div>				

