html{
	height: 105%;
}

nav li{
	list-style: none;
	display: inline-block;
	margin: 0 1rem;
	font-size: 1.25rem;
	font-weight: 300;
    text-transform: uppercase;
	padding: 0.5rem 0;
	box-sizing: border-box;
	transition: all 0.15s ease;
	border-bottom: 2px solid transparent;
}

nav li:hover{
	color: #042a4f;
	cursor: pointer;
	border-color: #042a4f;
}

nav li a:hover{
	text-decoration: none;
}

nav, .nav.panel{
	margin: 0;
	text-align: center;
	padding: 0.5rem;
	border-top: none;
}

button.loginout{
	padding: 0.25rem 1rem;
	margin: 0 0 0 6px;
	height: 28px;
	background: #fff;
	color: #777;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,0.2);
	border-top: none;
	outline: none;
	transition:  all 0.1s ease;
}

button.loginout:hover{
	color: #32373c;
	box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.1);
}

.admin-bar{
	top: 0;
	background-color: #fff;
	text-align: right;
	padding-right: 1.5rem;
}