/* --------- Allgemeine Styles --------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    color: #545D63;
    margin: 0;
    width: 100%;
}

h1{
    margin: 2rem 0 1rem;
}
h2{
    margin: 0 0 1rem;
}


/* --------- Tabellen --------- */
form, table, table.form{
    background: auto;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

table, table.form{
    margin: 0 auto;
    width: 100%;
}

th{
    background: #f6f7f9;
    background: linear-gradient(to bottom,#fefefe 0,#f6f7f9 100%);
    color: #4f4f4f;

    border-bottom: 1px solid #cacaca;
}

table.liste th{
    padding: 0;
}

.list_entry{
    border-collapse: collapse;
    background-color: transparent;
    border-style: hidden;
    border-bottom-width: 1px;
    margin: 1rem 0;
}


.list_entry th, .list_entry td {
    border: 1px solid transparent;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
}

.search_results .list_entry tr:nth-child(odd) {
    /* background-color: #f6f7f9; */
    background: transparent;
}
.search_results .list_entry tr:nth-child(even) {
    /*background-color: #fff;*/
    background: transparent;
}

.list_entry button{
    font-size: 0.75rem;
}

table.liste .list_entry td.profile{
    padding: 0;
}

.list_entry img.profile-picture {
    height: auto;
    width: 100%;
}


/* --------- Struktur-Elemente --------- */
.full-width{
    width: 100%;
}

.outer{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

@media screen and (min-width: 1650px){
    .outer{
        max-width: 1280px;
    }
}

main.container {
    padding-left: 24px;
    width: 70%;
    margin: 0 0 10rem;
    float: right;
}


.panel {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
}

.panel:not(:last-child){
    margin-bottom: 2rem;
}

.panel.full-width{
    border-radius: 0;
    border-left: none;
    border-right: 0;
}

.panel:after{
    clear: both;
}
.sidebar{
    width: 30%;
    float: left;
}

.panel.filter{
    padding: 0.75rem;
}
.filter td{
    padding: 0.15rem 0;
    vertical-align: middle;
}
.filter table, .filter button{
    margin-top: 1rem;
}

.search-box-cell{
   vertical-align: middle; 
   position: relative;
}



/* Search-Results */
table.liste .list_entry td{
    border: none;
}
table.liste.search_results > tbody > tr {
    border-bottom: 4px double #BABEC4;
}

/* --------- Buttons --------- */
button {
    appearance: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle; 
    
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0.25rem;

    background: #f6f7f9;
    background: linear-gradient(to bottom,#fefefe 0,#f6f7f9 100%);
    color: #4f4f4f;
    
    border-radius: 3px;
    border: 1px solid #dadbdc;
    border-color: #e0e0e0;
    border-bottom-color: #cacaca;

    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 0px rgba(255, 255, 255, 0.32) inset;  
}

button:hover {
    text-decoration: none;
    background: #f6f7f9;
    border-bottom-color: #c5c5c5;
    background: linear-gradient(to bottom,#f9f9f9 0,#eeeff1 100%);
    box-shadow: px 1px 1px -1px rgba(0, 0, 0, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.75) inset;  
}

button:focus{
    outline: 0;
}

button.search {
    padding: 0.5rem 0.5rem;
}

th button.sort{
    padding: 0.25rem 0.5rem;
}


/*--------- Search Suggestions --------- */
#suggests{
    position:absolute;
    bottom: calc(100% - 0.5rem);
    width: calc(100% - 1rem);
    max-height: 7rem;
    overflow-y: auto;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 0.2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: none;
}
#suggests.show {
    display: block;
}

.suggest{
    padding: 0.2rem 0.5rem;
}
.suggest:hover{
    cursor: default;
    background-color: #eee;
}


/*--------- Media Queries --------- */
@media screen and (max-width: 960px){
    .sidebar, main.container{
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/*--------- Verschiedenes --------- */
.status{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.status.Aktiv {
    background: #88B688;   
}
.status.Passiv {
    background: #B68888;
}


/* CSS für Lade-GIF wenn AJAX Call läuft */
.modal:after {
    content: "";
    display: block;
    width: 100%;
    height: 2rem;
    background-color: red;
    background: 
                url('../resources/gif/ajax-loader.gif') 
                50% 50% 
                no-repeat;
    margin: 2rem auto;
}

.modal * {
    display: none;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}




/* Detail-Content */

.detail-content table{
    border-collapse: collapse;
    border: none;
    background: transparent;
}

.detail-content .data-block{

}

.detail-content .data-set{
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
}

table.liste tr:nth-child(even) .detail-content .data-set{
    background-color: #f6f7f9;
}

.detail-content .data-set tr:nth-child(even){
    background-color: transparent;
}

.detail-content .data-set tr:nth-child(odd){
    background-color: transparent;
}

.detail-content .data-set tr:not(:last-child){
    border-bottom: 1px solid #e0e0e0;
}


.detail-content .data-set td{
    border: none;
    vertical-align: top;
}



.detail-content .data-set-title{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.detail-content .scroll-list{
    max-height: 4rem;
    overflow-y: auto;
}
.detail-content .data-row{

}

.detail-content a:hover{
    text-decoration: underline;
}

/* Detail Content Tabs */

.ui-widget-content{
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    margin-bottom: 1rem;
}


.ui-widget-header{
    border-radius: 0;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.ui-tabs .ui-tabs-nav{
    padding: 0;
}

.ui-tabs .ui-tabs-panel{
    background-color: #fff;
    border: 1px solid #e0e0e0;
    min-height: 10rem;
}

table.liste tr:nth-child(even) .ui-tabs-panel {
    background-color: #f6f7f9;
}

table.liste tr:nth-child(even) .ui-tabs-active{
    background-color: #f6f7f9;
}

.ui-widget-header .ui-state-default{
    border: 1px solid #e0e0e0;
}

.ui-state-default a:focus{
    outline: 0;
}