h3 {
	margin-top: 0;
}

body.popup-on{
	overflow-y:hidden;
}

.popup {
    z-index: 100;
}

.popup-wrapper {
	    display: none;
}

.popup-blende {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.popup-content-outer {
    min-height: 48px;
    /*width: 100%;*/
    min-width: 360px;
	max-width: 960px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 2px 4px 30px 1px rgba(0,0,0,0.4);
}

.popup-title {
	display: block;
	width: 100%;
	width: calc(100% + 2* 1.5rem);
	margin-left: -1.5rem;
	margin-top: -1.5rem;
	margin-bottom: 1rem;

	height: 2rem;
	text-align: center;
	padding: 0.25rem 0.5rem;
	background-color: #ddd;
	border-radius: 4px 4px 0 0;    
}

.popup-title.hide {
	display: none;
}

/* DIALOG */

.dialog .popup-content {
	text-align: center;
}

.dialog .popup-content h2 {
	text-align: left;
	margin-bottom: 2rem;
}

.dialog .popup-content button{
	display: inline-block;
	margin: 0.5rem;
	min-width: 120px;
}



/* EDIT */


#popup-content{
	max-height: 560px;
	overflow-y: auto;
	margin: 0 auto;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
}

#popup-footer{
	text-align: center;
}

#popup-edit .list-entry {
    border: none;
}

#popup-edit input[type='text'], #popup-edit input[type='email'], #popup-edit input[type='date'], #popup-edit select {
    background-color: #eee;
}

input[type="radio"] { 
	margin-bottom: 10px; 
}

td { 
	vertical-align: top; 
}


.edit-image{
	max-width: 720px;
	margin: 0 auto;
}

.edit-image img, .edit-image a{
	float:left;
	height:auto;
	max-height: 180px;
}

.edit-image-buttons{
	float:left;
}


.edit .popup-content-outer {
    width: 100%;
	max-width: 720px;
}

#edit #popup-content{
	background-color: #f6f7f9;
	padding: 1rem;
}

.edit .edit-image,
#edit table.form, 
#edit .expandablecontent-list:not(.small) .expandablecontent-listitem-content {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    padding: 0.75rem;
}

#edit .expandablecontent-list:not(.small) .expandablecontent-listitem-content{
    margin-bottom: 0.5rem;
}

#edit .expandablecontent-listitem-content table.form {
    border: none;
    padding: 0;
}

#edit .expandablecontent-container:not(.small) .expandablecontent-bar-option-delete{
	padding: 0.5rem;
}

@media screen and (max-width: 960px){
	#popup-edit {
	    left: 0;
	    top: 0;
	    height: 100%;
	    border-radius: 0;
	}
}

@media screen and (min-width: 1920px){
	.edit .popup-content-outer {
	    max-width: 960px;
	}
}