h3 {
	margin-top: 0;
}

body.popup-on{
	overflow-y:hidden;
}

.popup {
    z-index: 100;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.popup-blende {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.popup-content-outer {
	display: inline-block;
	margin: auto;
	text-align: left;
    min-height: 120px;
    min-width: 360px;
	max-width: 960px;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    box-shadow: 2px 4px 20px rgba(0,0,0,0.4);
    /* box-shadow: 2px 4px 10px rgba(0,0,0,0.2); */
}

.popup-content {
    max-height: 720px;
    overflow: auto;
    position: relative;
}

.popup-title {
	display: block;
	width: 100%;
	width: calc(100% + 2* 1.5rem);
	margin-left: -1.5rem;
	margin-top: -1.5rem;
	margin-bottom: 1rem;

	height: 2rem;
	text-align: center;
	padding: 0.25rem 0.5rem;
	background-color: #ddd;
	border-radius: 4px 4px 0 0;    
}

.popup-title.hide {
	display: none;
}

/* DIALOG */

.dialog .popup-content-outer {
	max-width: 640px;
}

.dialog .popup-content {
	text-align: center;
}

.dialog .popup-content h2 {
	text-align: left;
	margin-bottom: 2rem;
}

.dialog .popup-content button{
	display: inline-block;
	margin: 0.5rem;
	min-width: 120px;
}



/* EDIT */


#popup-content{
	max-height: 560px;
	overflow-y: auto;
	margin: 0 auto;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
}

#popup-footer{
	text-align: center;
}

#popup-edit .list-entry {
    border: none;
}

#popup-edit input[type='text'], #popup-edit input[type='email'], #popup-edit input[type='date'], #popup-edit select {
    background-color: #eee;
}

input[type="radio"] { 
	margin-bottom: 10px; 
}

td { 
	vertical-align: top; 
}


.edit-image{
	/* max-width: 720px; */
	margin: 0 auto;
}

.edit-image-image {
    margin-right: 1rem;
    float: left;
    width: 150px;
    height: 150px;
}

.edit-image img, .edit-image a{
	height: 100%;
	width: auto;
}

.edit-image-buttons{
	float:left;
}


.edit .popup-content-outer {
    width: 100%;
	max-width: 720px;
}

#edit #popup-content{
	background-color: #f6f7f9;
	padding: 1rem;
}

#edit .expandablecontent-list:not(.small) .expandablecontent-listitem-content {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);

}

#edit .expandablecontent-list:not(.small) .expandablecontent-listitem-content{
    margin-bottom: 0.5rem;
}

#edit .expandablecontent-listitem-content table.form {
    border: none;
    padding: 0;
}

#edit .expandablecontent-container:not(.small) .expandablecontent-bar-option-delete{
	padding: 0.5rem;
}



/* --- Edit Multi --- */

.edit-multi .popup-content-outer {
    max-width: 600px;
}

.edit-multi .id-list {
    margin: 1rem 0;
}



@media screen and (max-width: 960px){
	.popup.edit {
	    left: 0;
	    top: 0;
	    height: 100%;
	    border-radius: 0;
	}
}

@media screen and (min-width: 1920px){
	.edit .popup-content-outer {
	    max-width: 960px;
	}
}



